<footer class="bg-white text-2xl font-serif text-bluegray-900 p-6 text-sm">
  <div class="container mx-auto px-4">
    <div class="flex justify-between items-center">
      <p class="">&copy; 2025 Black Rose. All rights reserved.</p>
      <nav>
        <ul class="flex space-x-4">
          <li><a [routerLink]="['']" routerLinkActive="router-link-active"  class="hover:text-gray-400 mr-4" rel="noopener noreferrer">Home</a></li>
          <li><a [routerLink]="['/blog']" class="hover:text-gray-400 mr-4" rel="noopener noreferrer">Blog</a></li>
          <li><a [routerLink]="['/pricing']" class="hover:text-gray-400 mr-4" rel="noopener noreferrer">Pricing</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>

