<section class="py-20 bg-galery">
    <div class="max-w-6xl mx-auto px-4">
      <h1 class="text-center font-serif text-5xl mb-8">Gallery</h1>
      <ul class="grid lg:grid-cols-3 md:grid-cols-2">
        @for (package of packageList; track $index) {
          <li [ngClass]="{'font-bold text-gray-900':package.selected}" class="text-4xl hover:font-bold text-gray-600 font-serif text-center mb-12" (click)="changeCategory(package.category)">
            <h2>{{package.category}}</h2>
          </li>
        }
      </ul>
      <p class="text-center font-sans mb-8 text-2xl">{{categorySelected!.description}}</p>
      <div class="grid grid-cols-2 md:grid-cols-3 gap-6">
        <div *ngFor="let image of categorySelected!.imageList" class="relative group cursor-pointer" >
          <img [src]="image" [alt]="categorySelected!.category" class="w-full h-80 object-cover rounded-lg transition transform group-hover:scale-105">
          <div class="absolute inset-0 bg-black/50 opacity-0 group-hover:opacity-100 transition rounded-lg flex items-center justify-center">
            <span class="text-white text-xl font-serif">{{categorySelected!.category}}</span>
          </div>
        </div>
      </div>
    </div>
  </section>
