<nav
    class="sticky top-0 left-0 bg-header w-full flex justify-between items-center sm:flex-row lg:flex-row md:flex-row p-6 z-10">
    <a [routerLink]="['/contact']" class="text-bluegray-900 lg:text-2xl sm:text-1xl flex-1 text-left">Contact</a>
    <a [routerLink]="['/']" class="text-bluegray-900 lg:text-2xl sm:text-2xl flex-1 text-center">Kendra
      Sáenz</a>
    <div class="flex-1 text-right">
      <a [routerLink]="['/blog']" class="lg:text-2xl sm:text-1xl mr-4 font-light sm:text-1xl hover:underline">Blog</a>
      <a [routerLink]="['/pricing']" class="lg:text-2xl sm:text-1xl font-light hover:underline">Services</a>
    </div>
</nav>