<div class="relative w-full h-screen flex">
    <img src="hero-image-left.jpg" loading="lazy" alt="Photography Left" class="w-1/2 h-full object-cover">
    <img src="hero-image-right.jpg" loading="lazy" alt="Photography Right" class="w-1/2 h-full object-cover">
    <div class="absolute inset-0 bg-black/40"></div>
    <div class="absolute inset-0 flex flex-col items-center justify-center text-center px-6">
      <h1 class="text-5xl md:text-7xl font-serif text-white">
        {{ 'Kendra Sáenz PHOTOGRAPHY' | titlecase }}
      </h1>
      <p class="mt-6 text-xl text-white font-light">Capturing Unforgettable Moments</p>
      
      <button (click)="scrollToServices()"
        class="mt-6 px-8 py-3 font-serif bg-white text-gray-900 hover:bg-gray-100 hover:scale-110 transition-transform duration-100 rounded-full" aria-label="View Packages">
        Packages
      </button>
    </div>
</div>
