<article class="overflow-hidden font-serif my-8 p-4">
  <div class="flex flex-col md:flex-row items-center justify-center h-auto md:h-80" [ngClass]="{'md:flex-row-reverse': layout === 'reverse'}">
    <img src="{{image[0]}}" loading="lazy" alt="Article Image" class="h-100 object-cover md:mt-8">
    <div class="w-full md:w-1/2 lg:mx-8" [ngClass]="{'text-right': layout === 'normal'}">
      <h2 class="text-xl md:text-2xl mt-8 text-gray">{{title}}</h2>
      <p class="mb-4 text-lg md:text-xl text-gray-800 leading-relaxed">{{paragraph.title}}</p>
      <p class="mb-4 text-gray-600">{{location}}</p>
      <a [routerLink]="['/article', link]" class="px-4 py-2 rounded border-1 hover:bg-gray-300" aria-label="View Article">View</a>
    </div>
  </div>
</article>