<section class="py-20 bg-gray-50">
    <div class="max-w-6xl mx-auto px-4">
      <h2 class="text-center font-serif text-5xl mb-8">Galery</h2>
      <ul class="grid lg:grid-cols-5 sm:grid-cols-2 md:grid-cols-2">
        @for (package of packageList; track $index) {
          <li [ngClass]="{'font-bold':package.selected}" class="text-3xl hover:font-bold font-serif text-center mb-12" (click)="changeCategory(package.category)">{{package.category}}</li>
        }
      </ul>
      <p class="text-center font-serif mb-8">{{categorySelected!.description}}</p>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <div *ngFor="let image of categorySelected!.imageList" class="relative group cursor-pointer" >
          <img [src]="image" [alt]="categorySelected!.category" class="w-full h-80 object-cover rounded-lg transition transform group-hover:scale-105">
          <div class="absolute inset-0 bg-black/50 opacity-0 group-hover:opacity-100 transition rounded-lg flex items-center justify-center">
            <span class="text-white text-xl font-serif">{{categorySelected!.category}}</span>
          </div>
        </div>
      </div>
    </div>
  </section>
