@import "tailwindcss";

@theme {
  --color-primary: #F6F4F0;
  --color-about: #FBFAF9;
  --color-galery: #F6F4F0;
  --color-contact: #F7F5F2;
  --color-card-pricing: #EFEFEF;
  --font-serif: 'Playfair Display', serif;
  --font-sans: 'Roboto', Arial, sans-serif;
}